.container{
    width: 100%;
    
    font-family: sans-serif;
    letter-spacing:1px;

}
.container h2
{
   background: #000;
   color: #fff;
   width: 200px;
   font-size:24px;
   padding: 5px;
   height: 80px;


}
.container h2::after
{
 content: '';
 border-top: 40px solid #0062cc;
 border-right: 40px solid transparent;
 position: relative;
 left:48px;
 top :34px;


}
.row
{

    margin-top: 30px;
}
img{
    width: 100%;
}